<div class="colophon-faq">
  <h2>{{ i18n[locale].colophon.faq.headline }}</h2>
  <ul class="colophone-faq-list">
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>{{ i18n[locale].colophon.faq.subheadline1 }}</h3>
      {{ i18n[locale].colophon.faq.text1 | markdown | safe }}
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>{{ i18n[locale].colophon.faq.subheadline2 }}</h3>
      {{ i18n[locale].colophon.faq.text2 | markdown | safe }}
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>{{ i18n[locale].colophon.faq.subheadline3 }}</h3>
      {{ i18n[locale].colophon.faq.text3 | markdown | safe }}
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>{{ i18n[locale].colophon.faq.subheadline4 }}</h3>
      {{ i18n[locale].colophon.faq.text4 | markdown | safe }}
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>{{ i18n[locale].colophon.faq.subheadline5 }}</h3>
      {{ i18n[locale].colophon.faq.text5 | markdown | safe }}
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>{{ i18n[locale].colophon.faq.subheadline6 }}</h3>
      {{ i18n[locale].colophon.faq.text6 | markdown | safe }}
    </li>
  </ul>
</div>
