<div class="recommendations-movies">
	<h2>{{ i18n[locale].recommendations.movies.headline }}</h2>
	<article class="recommendations-container">
		{% for movie in movieCollection %}
			<div {{ site.animation }}>
				{% if movie.asin %}
					{% if movie.cover %}
						{% set amazonUrl = ("https://www.amazon.com/gp/product/" + movie.asin) if locale === "en" else ("https://www.amazon.de/gp/product/" + movie.asin) %}
						<a
							class="product"
							data-umami-event="{{ movie.title }}"
							href="{{ amazonUrl }}"
							rel="nofollow noopener noreferrer external"
							target="_blank"
						>
							<img alt="{{ movie.title }}" src="{{ movie.cover }}"/>
						</a>
					{% else %}
						{% product movie.asin, movie.title, locale %}
					{% endif %}
				{% elif movie.imdb %}
					<a
						class="product"
						data-umami-event="{{ movie.title }}"
						href="https://www.imdb.com/title/{{ movie.imdb }}"
						rel="nofollow noopener noreferrer external"
						target="_blank"
					>
						<img alt="{{ movie.title }}" src="{{ movie.cover }}"/>
					</a>
				{% else %}
					<img alt="{{ movie.title }}" src="{{ movie.cover }}"/>
				{% endif %}
				<h3 class="recommendations-product-title">
					{{ movie.title }}
				</h3>
			</div>
		{% endfor %}
	</article>
</div>
