{% set js %}
{% include "../assets/scripts/embedded/theme-switcher.js" %}
{% if site.isProduction %}
	{% include "../assets/scripts/embedded/register-serviceworker.js" %}
{% endif %}
{% endset %}
<script>
	{{ js | jsmin | safe }}
</script>
<script defer src="https://umami.kogakure.cloud/script.js" data-website-id="5e9cff30-527b-460b-b5ce-a1de01404c06"></script>
