<a id="up-link" class="up-link" href="#top" aria-label="{{ i18n[locale].upLink }}" data-umami-event="{{ i18n[locale].upLink }}">
	<span class="up-link-button">
		<svg class="up-link-icon" aria-hidden="true" viewBox="0 0 24 24" width="1em" height="1em">
			<use xlink:href="#arrow-up"></use>
		</svg>
	</span>
</a>
