<a id="up-link" class="up-link" href="#top" onClick="{scrollToTop}" data-umami-event="{{ i18n[locale].upLink }}">
	<button class="up-link-button" aria-label="{{ i18n[locale].upLink }}">
		<svg class="up-link-icon" aria-hidden="true" viewBox="0 0 24 24" width="1em" height="1em">
			<use xlink:href="#arrow-up"></use>
		</svg>
	</button>
</a>
