/** Cover */
.product {
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: grid;
  flex-grow: 1;
  flex-shrink: 1;
  height: auto;
  justify-self: center;
  max-width: 250px;
  overflow: hidden;
  position: relative;
  transition-duration: var(--transition-duration-5);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  vertical-align: bottom;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }

  &::after {
    border-radius: 4em / 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.8);
    content: '';
    inset-block-end: 1em;
    inset-block-start: 1em;
    inset-inline-end: 50%;
    inset-inline-start: 0;
    opacity: 0;
    position: absolute;
    transition-duration: var(--transition-duration-5);
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    z-index: -1;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

/** Product Shelf
 *  
 *  Used to hold an unlimited amount of products
 */
.product-shelf {
  background-color: var(--color-fg-feather);
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  margin-block-end: var(--space-10);
  margin-block-start: var(--space-10);
  padding-block-end: var(--space-10);
  padding-block-start: var(--space-10);
  padding-inline-end: var(--space-10);
  padding-inline-start: var(--space-10);
  place-items: start center;
}
