---
layout: fullsize
title: Downloads
priority: 905
permalink: /downloads/
css: downloads.css
tags:
  - book
---

{% set previousPost = collections.sortedBookPages | getPreviousCollectionItem(page) %}
{% set nextPost = collections.sortedBookPages | getNextCollectionItem(page) %}

<div class="downloads-intro" {{ site.animationDelay }}>
  <h1 class="downloads-title">Downloads</h1>
  <p>
    Hier gibt es das Online-Buch zum Download als eBook, 3D-Modelle von Waffen und Werkzeugen, sowie eine Ninja-Schriftart.
  </p>
</div>


<article class="downloads-container rowgap">
  <figure class="downloads-layout downloads-50-start" {{ site.animation }}>
    <div class="image-shadow downloads-image-container">
      <img src="/assets/images/downloads/ingo.jpg" alt=""/>
    </div>
    <figcaption>
      <h2>Iga-Ninja-Font</h2>
      <p>Das Iga-Ninja Museum hatte vor vielen Jahren ein Bild einer Iga-Ninja-Geheimschrift auf ihrer Website veröffentlicht. Ich habe daraus eine Schriftart entwickelt, die hier heruntergeladen werden kann.</p>
      <p>
        {% more "Schrift auf GitHub ansehen", "https://github.com/kogakure/font-ingo", true %}<br />
        {% download "Schrift herunterladen", "/downloads/iga-ninja-font.zip" %}
      </p>
    </figcaption>
  </figure>
  <figure class="downloads-layout downloads-50-end" {{ site.animation }}>
    <div class="image-shadow downloads-image-container">
      <img src="/assets/images/downloads/ogama.jpg" alt=""/>
    </div>
    <figcaption>
      <h2>3D Modelle von Waffen und Werkzeugen der Ninja</h2>
      <p>Für die erste Version dieser Website hatte ich 3D-Modelle von Waffen und Werkzeugen erstellt, die ich dann später in das <code>stl</code> Format umgewandelt habe. Die Modelle können auf GitHub direkt im Browser angesehen und von allen Seiten betrachtet werden.</p>
      <p>
        {% more "Waffen und Werkzeuge auf GitHub ansehen", "https://github.com/kogakure/3d-models-kogakure", true %}
      </p>
    </figcaption>
  </figure>
  <figure class="downloads-layout downloads-50-start" {{ site.animation }}>
    <div class="image-shadow downloads-image-container">
      <img src="/assets/images/chronology/gitbook-kogakure.jpg" alt=""/>
    </div>
    <figcaption>
      <h2>Das Buch</h2>
      <p>Es gibt den Inhalt dieses Online-Buches zum <strong>kostenlosen</strong> Download als eBook.</p>
      <p>
        {% download "PDF", "/downloads/book-kogakure.pdf", true %} •
        {% download "EPUB", "/downloads/book-kogakure.epub" %} •
        {% download "MOBI", "/downloads/book-kogakure.mobi" %}
      </p>
    </figcaption>
  </figure>
</article>

{% include "pagination.njk" %}
