---
layout: fullsize
title: Glossar
priority: 915
permalink: /glossar/
css: glossary.css
tags:
  - book
---

{% set previousPost = collections.sortedBookPages | getPreviousCollectionItem(page) %}
{% set nextPost = collections.sortedBookPages | getNextCollectionItem(page) %}

<div class="glossary-intro">
  <h1 class="glossary-title">Glossar</h1>
  <p>
    Dieses Lexikon enthält <strong>{{ glossary.length }}</strong> Einträge aus dem Bereich des Ninjutsu, der
    Kriegskunst und der japanischen Geschichte. Alle Worte sind Japanisch,
    ausser anderweitig angegeben.
  </p>
</div>

<div class="glossary-list">
  {% for item in glossary | sortBySortKey %}
  <dl class="glossary-list-item">
    {% if item.title %}
      <dt class="glossary-list-item-romanji">{{ item.title }}</dt>
    {% endif %}
    {% if item.japanese or item.chinese or item.sanskrit %}
    <dt class="glossary-list-item-japanese">{{ item.japanese }}{{ item.chinese}}{{ item.sanskrit }}</dt>
    {% endif %}
    {% if item.translation %}
    <dd class="glossary-list-item-translation">
    <q>{{ item.translation }}</q>
    </dd>
    {% endif %}
    {% if item.description %}
    <dd class="glossary-list-item-description">
      {% if item.sanskrit %}<em>Sanskrit</em>. {% endif %}
      {% if item.chinese %}<em>Chinesisch</em>. {% endif %}
      {{ item.description | safe }}
    </dd>
    {% endif %}
  </dl>
  {% endfor %}
</div>

{% include "pagination.njk" %}
