---
layout: fullsize
title: Kolophon
priority: 920
permalink: /kolophon/
css: colophon.css
tags:
  - book
---

{% set previousPost = collections.sortedBookPages | getPreviousCollectionItem(page) %}
{% set nextPost = collections.sortedBookPages | getNextCollectionItem(page) %}

<div class="colophon-intro" {{ site.animationDelay }}>
  <h1 class="colphon-title">Kolophon</h1>
  <p>
    Dies ist 木隠. Seit 1999 kann man hier Artikel, Textsammlungen und
    Übersetzungen zu Themen rund um die japanischen Schattenkrieger und Spione,
    die Ninja, und deren Kampfkunst Ninjutsu lesen.
  </p>

  <p>
    Die Idee dazu wurde von Stefan Imhoff, einem Designer, Entwickler und
    Kampfkünstler aus Wolfsburg (heute aus Hamburg) entwickelt und umgesetzt.
  </p>
</div>

<div class="colophon-meaning" {{ site.animation }}>
  <h2>Was bedeutet kogakure?</h2>
  <p>
    Der Name <em>kogakure</em> (木隠) ist japanisch und bedeutet wörtlich übersetzt in
    etwa <q>Verborgen hinter Blättern und Bäumen</q>.
  </p>

  <p>
    Ich habe diesen Namen in Anlehnung an das Buch des Samurai Tsunetomo
    Yamamoto, <cite>Hagakure</cite> (<q>Verborgen unter Laub</q>) und der ältesten Schule im
    Bujinkan, <cite>Togakure</cite> (<q>Verborgen hinter einer Tür</q>) gewählt.
  </p>
</div>

<div class="colophon-why" {{ site.animation }}>
  <h2>Warum gibt es dieses Buch?</h2>
  <p>
    Seit Anfang der 90er, ursprünglich wahrscheinlich durch die Teenage Mutant
    Hero Turtles auf das Ninjutsu gestoßen, interessierten mich die Ninja und
    ihre Gedankenwelt.
  </p>
  <p>
    Damals war das Bujinkan in Deutschland nur spärlich zu finden, eine
    Trainingsmöglichkeit nahezu unmöglich zu finden. Auch die erhältliche
    Fachliteratur war mehr als dürftig.
  </p>
  <p>
    Auf der Suche nach Wissen, Hintergrundinformationen und Informationen
    sammelte sich im Laufe der Zeit eine Notizsammlung an, die in diesem Buch
    verarbeitet wurde.
  </p>
  <p>
    Dieses Buch erhebt keinen Anspruch auf Vollständigkeit, oder nach absoluter,
    belegbarer, geschichtlicher Beweise. Sie soll allen <em>bugeisha</em> (Kriegern)
    helfen, mehr über die Weisheiten dieser über tausend Jahre alten Kunst zu
    erfahren.
  </p>
</div>

<div class="colophon-contact" {{ site.animation }}>
  <h2>Kontakt</h2>
  <p>
    Man kann mich über meine <span>{% email "E-Mail-Adresse" %}</span>erreichen.
    Weitere Kontaktmöglichkeiten sind auf meiner
    <a
      href="https://www.stefanimhoff.de/about/#connect"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >privaten Website</a
    >
    zu finden.
  </p>
  <p>
    Bitte lies zuerst durch, ob deine Frage bereits in den FAQ beantwortet
    wurde. Es ist mir zeitlich nicht immer möglich auf jede Frage zu antworten,
    ich verspreche jedoch, dass ich jede Nachricht lese!
  </p>
</div>

<div class="colophon-faq">
  <h2>FAQ</h2>
  <ul class="colophone-faq-list">
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>Wo kann ich trainieren?</h3>
      <p>
        Um ein Dōjō für Bujinkan Budō Taijutsu zu finden, solltet ihr am besten
        in einer Suchmaschine nach <strong>Bujinkan</strong> in Verbindung mit
        einer Stadt in eurer Nähe suchen. Aber mit Sicherheit wird es keine so
        gute Abdeckung mit Dōjō wie bei Jūdō oder Karate geben. Auf der
        Bujinkai-Seite gibt es eine sehr umfangreiche
        <a
          href="http://www.bujinkan-deutschland.de/dojoliste-bujinkan.html"
          rel="nofollow noopener noreferrer external"
          target="_blank"
          >Dōjō-Liste</a
        >.
      </p>
      <p>
        Ich selbst habe <em>kein</em> eigenes Dōjō und biete
        <em>kein</em> Training an. Kogakure ist kein Kampfkunst-Stil, sondern
        der Name des Buches.
      </p>
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>Was für Bücher gibt es?</h3>
      <p>
        Die Auswahl an Fachbüchern über Ninja und Ninjutsu ist sehr groß. Der größte Teil ist jedoch auf Japanisch oder Englisch. Am
        besten einfach mal in meine
        <a href="/empfehlungen/">Empfehlungen</a> schauen.
      </p>
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>Welche Bücher kannst du mir empfehlen?</h3>
      <p>
        Zuerst lege ich euch die Bücher von Dr. <em>Masaaki Hatsumi</em> ans
        Herz. <em>Andrew Adams</em> Buch <cite>Ninja</cite> ist gut, um einen
        Gesamtüberblick zu bekommen. <em>Stephen K. Hayes</em> hat sehr viele
        philosophische Aspekte in seinen Büchern (z. B. Tendai, Shugendō,
        Mikkyō), da ihn dies persönlich sehr interessiert, er ist sogar genau
        wie Takamatsu zum Mönch des Tendai ernannt worden.
      </p>
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>Wo bekomme ich Bücher über Ninjutsu her?</h3>
      <p>
        Seit es Buchversender wie z. B.
        <a
          href="http://www.amazon.de/exec/obidos/redirect?link_code=ur2&camp=1638&tag=kogakurede-21&creative=6742&path=tg%2Fbrowse%2F-%2F301128%3Fsite-redirect%3Dde"
          rel="nofollow noopener noreferrer external"
          target="_blank"
          >Amazon</a
        >
        gibt, sollte es keine Problem mehr darstellen, Bücher aus dem Ausland zu
        bekommen. Auf der Seite <a href="/empfehlungen/">Empfehlungen</a> habe
        ich eine Liste von Büchern und Filmen zusammengestellt, die ich
        empfehlen kann.
      </p>
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>Ich möchte auf eine Seite verlinken. Was ist zu beachten?</h3>
      <p>
        Es ist generell untersagt die Verlinkung in einem Frame zu
        verwirklichen, bei dem die Website nicht mehr als Urheber erkennbar ist.
        Du darfst gerne auf jede Seite dieser Domain verlinken.
      </p>
      <p>
        Bilder, Photos und andere Medien dürfen
        <em>nicht direkt verlinkt werden</em>, wohl aber heruntergeladen und auf
        eigene Server gestellt werden (so lange die Regeln der
        <a
          href="http://creativecommons.org/licenses/by-nc/3.0/deed.de"
          rel="nofollow noopener noreferrer external"
          target="_blank"
          >Creative Commons Lizenz</a
        >
        eingehalten werden).
      </p>
    </li>
    <li class="colophon-faq-list-item" {{ site.animation }}>
      <h3>Sind Übersetzungen der Texte erlaubt?</h3>
      <p>
        Übersetzungen der Texte in andere Sprachen sind grundsätzlich erlaubt,
        solange dem Text eine Quellenangabe beigefügt wird. Bitte schicke mir
        einen Link, wo die Übersetzung publiziert wird.
      </p>
      <p>
        Eine kommerzielle Nutzung, in welcher Form auch immer, ist nur mit
        schriftlicher Genehmigung möglich.
      </p>
    </li>
  </ul>
</div>

<div class="colophon-donation" {{ site.animation }}>
  <h2>
    <span class="colophon-donation-heart">♥︎</span>
    Spenden
  </h2>
  <p>
    Dieses Buch ist kostenlos, werbefrei und hat mich im Laufe der Zeit viele
    hundert Stunden Arbeit gekostet.
  </p>
  <p>
    Wenn es dir gefallen hat, freue ich mich über Lob und Anerkennung. Du kannst
    mich unterstützen, indem du etwas aus meinen
    <a href="/empfehlungen/">Empfehlungen</a> kaufst oder mir eine kleine Spende
    zukommen lässt.
  </p>
  <ul class="colophon-donation-list">
    <li class="colophon-donation-list-item">
      <svg
        class="colophon-donation-icon"
        title="Bitcoin"
        aria-hidden="true"
        viewBox="0 0 24 24"
        width="1em"
        height="1em"
      >
        <use xlink:href="#bitcoin"></use>
      </svg>
      <pre class="colophon-dontation-crypto-hash">
bc1quzvqw66khsnrmqh0ds8dprnrtcxfytfa3x2x7m</pre
      >
    </li>
    <li class="colophon-donation-list-item">
      <svg
        class="colophon-donation-icon"
        title="Ethereum"
        aria-hidden="true"
        viewBox="0 0 24 24"
        width="1em"
        height="1em"
      >
        <use xlink:href="#ethereum"></use>
      </svg>
      <pre class="colophon-dontation-crypto-hash">
0x9e177CA8eD880991cb976aFbcC409c5c15Fa0080</pre
      >
    </li>
    <li class="colophon-donation-list-item">
      <a
        href="https://www.paypal.me/kogakure/"
        rel="nofollow noopener noreferrer external"
        target="_blank"
      >
        <button
          class="colophon-dontation-button"
          aria-label="Spenden mit PayPal"
          type="button"
        >
          <svg
            class="colophon-donation-icon"
            title="PayPal"
            aria-hidden="true"
            viewBox="0 0 24 24"
            width="1em"
            height="1em"
          >
            <use xlink:href="#paypal"></use>
          </svg>
          Spenden mit PayPal
        </button>
      </a>
    </li>
  </ul>
</div>

<div class="colophon-tech" {{ site.animation }}>
  <h2>Technische Informationen</h2>
  <p>
    Wer es bis hier hin durchgehalten hat, den interessieren wahrscheinlich auch
    die technischen Details zu dieser Seite.
  </p>
  <p>
    Alle Arbeiten wurden auf einem
    <a
      href="https://www.apple.com/de/"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >Apple</a
    >
    Computer erstellt, die Grafiken wurden mit
    <a
      href="https://affinity.serif.com/de/photo/"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >Affinity Photo</a
    >, und
    <a
      href="https://affinity.serif.com/de/designer/"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >Affinity Designer</a
    >
    gestaltet, alle Templates und Codesegmente mit
    <a
      href="https://neovim.io/"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >Neovim</a
    >
    per Hand geschrieben und mit
    <a
      href="https://git-scm.com/"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >Git</a
    >
    versioniert. Die Seiten werden mit
    <a
      href="https://www.11ty.dev/"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >Eleventy</a
    > (11ty)
    generiert und die Entwicklungsumgebung und das Deployment werden mit
    <a
      href="https://gulpjs.com/"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >Gulp.js</a
    >
    automatisiert.
  </p>
  <p>
    Der Quellcode dieser Website liegt für jeden zugänglich auf
    <a
      href="https://github.com/kogakure/website-11ty-kogakure.de"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >GitHub</a
    >. Fehler, Verbesserungen oder Ergänzungen können gerne dort als
    <a
      href="https://github.com/kogakure/website-11ty-kogakure.de/issues"
      rel="nofollow noopener noreferrer external"
      target="_blank"
      >Issue</a
    >
    oder per E-Mail gemeldet werden.
  </p>
</div>

{% include "pagination.njk" %}
