---
layout: fullsize
title: 木隠
permalink: /
css: homepage.css
isHome: true
translationKey: "homepagePage"
---

{% set prefaceCollection = translations.de.preface %}
{% set tocCollection = translations.de.toc %}

{% include "homepage-intro.njk" %}
{% include "homepage-toc.njk" %}
